*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid-container{
    display: grid;
    margin: 10px;
    grid-template-areas:
    "header header header"
    "aside main main"
    "aside main main"
    "aside main main"
    "footer footer footer";
    grid-template-columns:150px 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    height: 95vh;
}
.grid-header{
    background-color: #f04444e8;
    grid-area: header;
}

.grid-aside{
    background-color: #2bdeeb;
    grid-area: aside;
}
.grid-main{
    background-color: #72f358;
    grid-area: main;
}
.grid-footer{
    background-color: #7986929c;
    grid-area: footer;
}