.container {
    padding: 20px 5px;
    background-color: gray;
    height: 900px;
}

.caja {
    background-color: lightgreen;
    height: 120px;
    width: 120px;
    margin: 20px;
    border-radius: 50%;
    
    animation-name: moverse,bounce;
    animation-duration: 6s;
    animation-delay: .2s;
    position: fixed;
    top:0%;
    animation-timing-function:cubic-bezier(0.42, 0, 0.58, 1);;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}


@keyframes moverse {
    0% {
        left: 0;
      
    }
    100%{
        left: 80%;
        background-color: lightsalmon;
    }
}

@keyframes rotar{
    from{
        rotate: 0;
    }
    to{
        rotate: 360deg;
    }
}

@keyframes rebotar{
    0%{
        top: -20px;
    }
    15%{
        top:200px;
        height: 75px;
        width: 76px;
    }
    30%{
        top:30px;
        height: 80px;
        width: 80px;
    }
    45%{
        top:200px;
        height: 75px;
        width: 76px;
    }
    60%{
        top:15px;
    }
    75%{
        top:200px;
    }
    90%{
        top: 5px;
    }
    100%{
        top: 200px;
    }
}

@keyframes bounce {
    8% {
      /* Use the first 8% of duration time to 
      reach bottom which, will be a quick fall */
      top: 70%;
      height: 160px;
      width: 100px;
    }
    18% {
      top: 20%;
      width: 120px;
      height: 120px;
    }
  
    28% {
      top: 70%;
      width: 145px;
      height: 105px;
    }
    39% {
      top: 35%;
      width: 120px;
      height: 120px;
    }
    48% {
      top: 70%;
      width: 130px;
      height: 110px;
    }
  
    55% {
      top: 55%;
      width: 120px;
      height: 120px;
    }
    62% {
      top: 70%;
      width: 125px;
      height: 115px;
    }
    69% {
      top: 64%;
      width: 120px;
      height: 120px;
    }
    75% {
      top: 70%;
    }
    80% {
      top: 68%;
    }
    84% {
      top: 70%;
    }
    100% {
      top: 70%;
    }
  }
  